@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


main, div, ul {
    overflow-x: hidden;
}

div h1, .flight-num {
    text-shadow: -2px 0px 0px #2563EB;
}

a {
    cursor: pointer;
}